# Feature Engineering 
- Age Catogory
- BMI Catogory - Under weight, Normal weight, overweight, Obesity
- Pollution Risk - Loaction and Air pollution Level
- Smoking status
- Interaction Features (somking status and air pollution relation)
- Location Encoding

In [1]:
# import the libary
import pandas as pd 
import numpy as np

In [2]:
# load the data 
path = r'C:\Users\kamal\OneDrive\Desktop\COPD_PREDICATION\COPD_PREDICATION\Data\synthetic_COPD_data.csv'
df = pd.read_csv(path)

df.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis
0,31,Male,Former,1,1,1,27.56,Lalitpur,84,0,0
1,60,Male,Never,1,0,0,30.30,Pokhara,131,1,0
2,33,Male,Former,0,0,1,28.45,Pokhara,123,1,0
3,36,Female,Current,1,0,0,27.49,Kathmandu,253,0,1
4,58,Male,Never,0,0,0,25.49,Pokhara,117,1,0

In [3]:
# Binning and  discrezation
# Age Catagories


df['Age_Category'] = pd.cut(df['Age'],bins=[29,39,49,59,69,79], labels=['30 - 39','40 - 49','50 - 59','60 - 69','70  - 79']) 

df['BMI_Categories'] = pd.cut(df['BMI'], bins=[0,18.5,24.5,29.5,30], labels=['underweight','Normal weight','Overweight','obessity'])

In [4]:
# data Encoding
# Pollution Risk score
df['Pollution_Risk_Score'] = np.where(df['Air_Pollution_Level'] > 150, 1,0)

df['Smoking_Status_encoded'] = df['Smoking_Status'].map({'Current':1 ,'Former':0.5,'Never':0})

# Encode the gender
df['Gender_'] = df['Gender'].map({'Male':1 ,'Female':0})

# Interaction Features - smoking Sstatus and pollution level

df['Smoking_Pollution_interaction'] =df['Smoking_Status_encoded']*df['Air_Pollution_Level']

In [5]:
df.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis,Age_Category,BMI_Categories,Pollution_Risk_Score,Smoking_Status_encoded,Gender_,Smoking_Pollution_interaction
0,31,Male,Former,1,1,1,27.56,Lalitpur,84,0,0,30 - 39,Overweight,0,0.5,1,42.0
1,60,Male,Never,1,0,0,30.30,Pokhara,131,1,0,60 - 69,NaN,0,0.0,1,0.0
2,33,Male,Former,0,0,1,28.45,Pokhara,123,1,0,30 - 39,Overweight,0,0.5,1,61.5
3,36,Female,Current,1,0,0,27.49,Kathmandu,253,0,1,30 - 39,Overweight,1,1.0,0,253.0
4,58,Male,Never,0,0,0,25.49,Pokhara,117,1,0,50 - 59,Overweight,0,0.0,1,0.0

## Machine learning Data

In [6]:
df.drop(columns=['Smoking_Status', 'Age_Category', 'BMI_Categories', 'Gender'], inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Age                               1000 non-null   int64
 1   Biomass_Fuel_Exposure             1000 non-null   int64
 2   Occupational_Exposure             1000 non-null   int64
 3   Family_History_COPD               1000 non-null   int64
 4   BMI                               1000 non-null   float64
 5   Location                          1000 non-null   object
 6   Air_Pollution_Level               1000 non-null   int64
 7   Respiratory_Infections_Childhood  1000 non-null   int64
 8   COPD_Diagnosis                    1000 non-null   int64
 9   Pollution_Risk_Score              1000 non-null   int32
 10  Smoking_Status_encoded            1000 non-null   float64
 11  Gender_                           1000 non-null   int64
 12  Smoking_Pollution_interaction     1000 non-null   float64
dtypes: float64(3), int32(1), int64(8), object(1)
memory usage: 97.8+ KB

In [8]:
df

,Age,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis,Pollution_Risk_Score,Smoking_Status_encoded,Gender_,Smoking_Pollution_interaction
0,31,1,1,1,27.56,Lalitpur,84,0,0,0,0.5,1,42.0
1,60,1,0,0,30.30,Pokhara,131,1,0,0,0.0,1,0.0
2,33,0,0,1,28.45,Pokhara,123,1,0,0,0.5,1,61.5
3,36,1,0,0,27.49,Kathmandu,253,0,1,1,1.0,0,253.0
4,58,0,0,0,25.49,Pokhara,117,1,0,0,0.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,62,1,1,1,20.11,Bhaktapur,127,0,1,0,1.0,1,127.0
996,52,0,1,0,27.00,Bhaktapur,118,0,0,0,0.0,1,0.0
997,40,0,0,1,33.98,Butwal,134,1,1,0,1.0,0,134.0
998,76,0,1,1,22.27,Kathmandu,281,0,0,1,0.5,0,140.5
999,44,0,0,0,29.67,Kathmandu,170,0,0,1,0.5,0,85.0

In [9]:
# one hot encoding
df = df.drop(columns=['Location'])
#df = pd.get_dummies(df, columns=['Location'], drop_first=True)

# save my engineer data
df.to_csv("engineer_copd_data.csv", index=False)

In [10]:
df.columns

Index(['Age', 'Biomass_Fuel_Exposure', 'Occupational_Exposure',
       'Family_History_COPD', 'BMI', 'Air_Pollution_Level',
       'Respiratory_Infections_Childhood', 'COPD_Diagnosis',
       'Pollution_Risk_Score', 'Smoking_Status_encoded', 'Gender_',
       'Smoking_Pollution_interaction'],
      dtype='object')

In [11]:
df.describe()

,Age,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis,Pollution_Risk_Score,Smoking_Status_encoded,Gender_,Smoking_Pollution_interaction
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.00000,1000.000000,1000.00000
mean,55.033000,0.494000,0.517000,0.504000,26.682860,136.184000,0.486000,0.31700,0.298000,0.51650,0.514000,69.07400
std,15.003233,0.500214,0.499961,0.500234,4.797422,66.517191,0.500054,0.46554,0.457608,0.41249,0.500054,70.58455
min,30.000000,0.000000,0.000000,0.000000,18.510000,50.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000
25%,42.000000,0.000000,0.000000,0.000000,22.587500,84.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000
50%,55.000000,0.000000,1.000000,1.000000,26.440000,121.000000,0.000000,0.00000,0.000000,0.50000,1.000000,58.75000
75%,68.250000,1.000000,1.000000,1.000000,30.662500,171.250000,1.000000,1.00000,1.000000,1.00000,1.000000,106.00000
max,80.000000,1.000000,1.000000,1.000000,35.000000,300.000000,1.000000,1.00000,1.000000,1.00000,1.000000,299.00000